$space-cadet = #2B2D42
$cultured = #F8F7F9
$maximum-blue = #A6BAF2
$maximum-purple = #C0AEEA
$dark-sea-green = #8ED9AB
$persian-orange = #EFAF77
$coral = #F58481

$accentColor = $coral
$textColor = $space-cadet
$codeBgColor = $space-cadet
$arrowBgColor = $coral

$navbarHeight = 4rem
